.body-info-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.body-info-item span:last-child {
    color: #888;
}

.body-info-item:hover {
    background-color: #f9f9f9;
}
