
.my-info-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.my-info-item:hover {
    background-color: #f0f0f0;
}

.my-info-item span {
    font-size: 16px;
    color: #333;
}

.my-info-item .menu-arrow {
    font-size: 18px;
    color: #888;
}

/* Heading center */
.info-heading {
    text-align: center;
    margin-bottom: 10px;
}
